.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  color: #583e26;
}
.formControl {
  display: flex;
  padding: 15px 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}
.input {
  width: 15rem;
  padding: 10px 12px;
  border: 1px solid #ec9704;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
}
.btn {
  padding: 5px 12px;
  margin-left: 1rem;
  border: none;
  outline: none;
  background-color: #ec9704;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
.select {
  width: 15rem;
  font-weight: normal;
  font-size: 14px;
  margin-left: 1rem;
}
.product-list {
  margin-top: 20px;
}
.product-list table {
  width: 100%;
  border-collapse: collapse;
}

.product-list table td,
th {
  border: 3px solid #fff;
  padding: 8px 10px;
  text-align: center;
}
