.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  color: #583e26;
}
.App h2 {
  margin-bottom: 10px;
}
.formControl {
  width: 30rem;
  padding: 10px 20px;
  border: 1px solid #a78b71;
  border-radius: 5px;
}
.input {
  width: 15rem;
  padding: 5px 10px;
  border: 1px solid #ec9704;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
}
.btn {
  padding: 5px 10px;
  margin-left: 1rem;
  border: none;
  outline: none;
  background-color: #ec9704;
  color: #fff;
  border-radius: 5px;
}
